In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv('서울시 상권분석서비스(추정매출-상권)_2024년.csv')
print(df.columns)

print(df.info())

Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드',
       '서비스_업종_코드_명', '당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액',
       '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액',
       '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액',
       '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액',
       '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액',
       '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액',
       '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수',
       '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수',
       '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
       '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
       '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87179 entries, 0 to 87178
Data columns (total 55 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년분기_코드        87179 non-null  int64
 1   상권_구분_코드         87179 non-null  object
 2   상권_구분_코드_명       87179 non-null  object
 3   상권_코드            87179 non-null  int64
 4   상권_코드_명          87179 non-null  object
 5   서비스_업종_코드        87179 non-null  object
 6   서비스_업종_코드_명      87179 non-null  object
 7   당월_매출_금액         87179 non-null  int64
 8   당월_매출_건수         87179 non-null  int64
 9   주중_매출_금액         87179 non-null  int64
 10  주말_매출_금액         87179 non-null  int64
 11  월요일_매출_금액        87179 non-null  int64
 12  화요일_매출_금액        87179 non-null  int64
 13  수요일_매출_금액        87179 non-null  int64
 14  목요일_매출_금액        87179 non-null  int64
 15  금요일_매출_금액        87179 non-null  int64
 16  토요일_매출_금액        87179 non-null  int64
 17  일요일_매출_금액        87179 non-null  int64
 18  시간대_00~06_매출_금액  87179 non-null  int64
 19  시간대_06~11_매출_금액  87179 non-null  int64
 20  시간대_11~14_매출_금액  87179 non-null  int64
 21  시간대_14~17_매출_금액  87179 non-null  int64
 22  시간대_17~21_매출_금액  87179 non-null  int64
 23  시간대_21~24_매출_금액  87179 non-null  int64
 24  남성_매출_금액         87179 non-null  int64
 25  여성_매출_금액         87179 non-null  int64
 26  연령대_10_매출_금액     87179 non-null  int64
 27  연령대_20_매출_금액     87179 non-null  int64
 28  연령대_30_매출_금액     87179 non-null  int64
 29  연령대_40_매출_금액     87179 non-null  int64
 30  연령대_50_매출_금액     87179 non-null  int64
 31  연령대_60_이상_매출_금액  87179 non-null  int64
 32  주중_매출_건수         87179 non-null  int64
 33  주말_매출_건수         87179 non-null  int64
 34  월요일_매출_건수        87179 non-null  int64
 35  화요일_매출_건수        87179 non-null  int64
 36  수요일_매출_건수        87179 non-null  int64
 37  목요일_매출_건수        87179 non-null  int64
 38  금요일_매출_건수        87179 non-null  int64
 39  토요일_매출_건수        87179 non-null  int64
 40  일요일_매출_건수        87179 non-null  int64
 41  시간대_건수~06_매출_건수  87179 non-null  int64
 42  시간대_건수~11_매출_건수  87179 non-null  int64
 43  시간대_건수~14_매출_건수  87179 non-null  int64
 44  시간대_건수~17_매출_건수  87179 non-null  int64
 45  시간대_건수~21_매출_건수  87179 non-null  int64
 46  시간대_건수~24_매출_건수  87179 non-null  int64
 47  남성_매출_건수         87179 non-null  int64
 48  여성_매출_건수         87179 non-null  int64
 49  연령대_10_매출_건수     87179 non-null  int64
 50  연령대_20_매출_건수     87179 non-null  int64
 51  연령대_30_매출_건수     87179 non-null  int64
 52  연령대_40_매출_건수     87179 non-null  int64
 53  연령대_50_매출_건수     87179 non-null  int64
 54  연령대_60_이상_매출_건수  87179 non-null  int64
dtypes: int64(50), object(5)
memory usage: 36.6+ MB
None

In [10]:
#2. 결측치 확인 & 없음
df.isnull().sum()

기준_년분기_코드          0
상권_구분_코드           0
상권_구분_코드_명         0
상권_코드              0
상권_코드_명            0
서비스_업종_코드          0
서비스_업종_코드_명        0
당월_매출_금액           0
당월_매출_건수           0
주중_매출_금액           0
주말_매출_금액           0
월요일_매출_금액          0
화요일_매출_금액          0
수요일_매출_금액          0
목요일_매출_금액          0
금요일_매출_금액          0
토요일_매출_금액          0
일요일_매출_금액          0
시간대_00~06_매출_금액    0
시간대_06~11_매출_금액    0
시간대_11~14_매출_금액    0
시간대_14~17_매출_금액    0
시간대_17~21_매출_금액    0
시간대_21~24_매출_금액    0
남성_매출_금액           0
여성_매출_금액           0
연령대_10_매출_금액       0
연령대_20_매출_금액       0
연령대_30_매출_금액       0
연령대_40_매출_금액       0
연령대_50_매출_금액       0
연령대_60_이상_매출_금액    0
주중_매출_건수           0
주말_매출_건수           0
월요일_매출_건수          0
화요일_매출_건수          0
수요일_매출_건수          0
목요일_매출_건수          0
금요일_매출_건수          0
토요일_매출_건수          0
일요일_매출_건수          0
시간대_건수~06_매출_건수    0
시간대_건수~11_매출_건수    0
시간대_건수~14_매출_건수    0
시간대_건수~17_매출_건수    0
시간대_건수~21_매출_건수    0
시간대_건수~24_매출_건수    0
남성_매출_건수           0
여성_매출_건수           0
연령대_10_매출_건수       0
연령대_20_매출_건수       0
연령대_30_매출_건수       0
연령대_40_매출_건수       0
연령대_50_매출_건수       0
연령대_60_이상_매출_건수    0
dtype: int64

In [15]:
df=pd.read_csv('서울시 상권분석서비스(추정매출-상권)_2024년.csv')
df[['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드',
       '서비스_업종_코드_명']]

#3. encoder
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
for col in ['상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명']:
    df[col] = encoder.fit_transform(df[col])
df[['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드',
       '서비스_업종_코드_명']]

       기준_년분기_코드 상권_구분_코드  상권_구분_코드_명    상권_코드  상권_코드_명 서비스_업종_코드  서비스_업종_코드_명
0          20241        A           0  3110001     1265  CS100001           56
1          20241        A           0  3110001     1265  CS100009           59
2          20241        A           0  3110001     1265  CS200001           36
3          20241        A           0  3110002      402  CS100001           56
4          20241        A           0  3110002      402  CS100005           44
...          ...      ...         ...      ...      ...       ...          ...
87174      20244        U           1  3001496       38  CS300021            9
87175      20244        U           1  3001496       38  CS300022           60
87176      20244        U           1  3001496       38  CS300026           29
87177      20244        U           1  3001496       38  CS300028           61
87178      20244        U           1  3001496       38  CS300031            1

[87179 rows x 7 columns]

In [40]:
df[[ '당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액']]
#3-2. IQR 방식 이상치 제거 & scaler
def remove_outlier(df, colomns):
  for col in colomns:
    Q1=df[col].quantile(0.25)
    Q3=df[col].quantile(0.75)

    IQR=Q3-Q1
    lower_bound=Q1-1.5*IQR
    upper_bound=Q3+1.5*IQR

    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    return df

df=remove_outlier(df, ['당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액'])

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
df[['당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액']] = scaler.fit_transform(df[['당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액']])

df[['당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액']]

       당월_매출_금액  당월_매출_건수  주중_매출_금액  주말_매출_금액
1     -0.943688 -0.702160 -0.939147 -0.587130
2     -0.100889 -0.697734  0.155086 -0.797390
5     -0.029792  0.021468 -0.171012  0.387931
6     -0.008011  2.083476 -0.031365  0.062276
7     -0.399074 -0.757483 -0.168534 -0.905649
...         ...       ...       ...       ...
87129  1.295446  2.133489  0.968326  1.728638
87134 -1.107297 -0.773859 -1.039409 -0.868801
87136 -0.281835 -0.341452 -0.194785 -0.421747
87152 -1.141149 -0.773416 -1.102843 -0.804338
87169 -0.315767 -0.702160 -0.281607 -0.290313

[41307 rows x 4 columns]

In [41]:


#3-2. IQR 방식 이상치 제거 & scaler

df=remove_outlier(df, ['남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액',
       '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액',
       '연령대_60_이상_매출_금액'])


scaler=StandardScaler()
df[['남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액',
       '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액',
       '연령대_60_이상_매출_금액']] = scaler.fit_transform(df[['남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액',
       '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액',
       '연령대_60_이상_매출_금액']])

df[['남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액',
       '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액',
       '연령대_60_이상_매출_금액']]

<ipython-input-41-b16d9c7fde97>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액',

,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액
1,-0.728642,-0.859918,-0.284280,-0.541043,-0.748239,-0.604354,-0.667871,-0.445561
2,-0.355377,0.377310,-0.284280,-0.541043,-0.616493,1.331123,0.293412,-0.676518
5,0.478866,-0.414451,-0.284280,0.348943,-0.152063,-0.033495,0.229180,-0.266685
6,-0.207900,0.204229,0.000674,0.012457,0.136247,-0.203924,0.307084,-0.086323
7,-0.068510,-0.364850,-0.284280,-0.541043,-0.748239,0.957130,-0.187928,-0.676518
...,...,...,...,...,...,...,...,...
87114,-0.992978,-0.876407,-0.284280,-0.541043,-0.748239,-0.719978,-0.702199,-0.676518
87134,-1.014385,-0.834219,-0.284280,-0.480813,-0.748239,-0.719978,-0.688276,-0.676518
87136,-0.259830,-0.182093,-0.284280,0.226433,0.240475,-0.163224,-0.086738,-0.653210
87152,-0.989156,-0.912643,-0.284280,-0.541043,-0.748239,-0.698745,-0.794015,-0.676518
87169,0.538585,-0.703737,-0.284280,0.003251,0.815948,-0.029139,-0.613568,-0.452535

In [51]:
print(df.columns)
df[['시간대_00~06_매출_금액', '시간대_06~11_매출_금액',
       '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액',
       '시간대_21~24_매출_금액']]

Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드',
       '서비스_업종_코드_명', '당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액',
       '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액',
       '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액',
       '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액',
       '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액',
       '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액',
       '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수',
       '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수',
       '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
       '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
       '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수'],
      dtype='object')

,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액
0,0,3760615,147548112,84453676,144941846,4446394
1,1760462,0,88580,755956,3582143,4839299
2,2276791,7928965,8844458,5047152,26437845,1512554
3,11057732,11232854,246477299,100242150,182313765,31198465
4,0,110453668,75088742,132576193,103889828,24516849
...,...,...,...,...,...,...
87174,0,179423872,417673061,474951050,433287053,37470961
87175,0,81911238,621671750,677943632,621606150,53383376
87176,0,0,195184748,229707077,312782017,13646025
87177,0,141513653,378477317,408930903,218829802,41206
87178,0,153315455,1082089907,2186701323,776163894,0

In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
df=pd.read_csv('서울시 상권분석서비스(추정매출-상권)_2024년.csv')

#IQR 사용자 정의 함수
def remove_outlier(df, columns):
  for col in columns:
    Q1=df[col].quantile(0.25)
    Q3=df[col].quantile(0.75)

    IQR=Q3-Q1
    lower_bound=Q1-1.5*IQR
    upper_bound=Q3+1.5*IQR

    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    return df

#2. 결측치 확인 & 없음

def preprocess_data(df):
  #3-1. encoder
  encoder=LabelEncoder()
  for col in ['상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명']:
    df[col] = encoder.fit_transform(df[col])
    df[['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드',
       '서비스_업종_코드_명']]


  #3-2. IQR 방식 이상치 제거 & scaler


  columns_basket=[['당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액'],
   ['월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액',
       '토요일_매출_금액', '일요일_매출_금액'],
    ['시간대_00~06_매출_금액', '시간대_06~11_매출_금액',
       '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액',
       '시간대_21~24_매출_금액'],
    ['남성_매출_금액', '여성_매출_금액'],
     ['연령대_10_매출_금액',
       '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액',
       '연령대_60_이상_매출_금액']]
  import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder

# 데이터 불러오기
df = pd.read_csv('서울시 상권분석서비스(추정매출-상권)_2024년.csv')

# 1. 이상치 제거 함수 (단일 컬럼)
def remove_outlier(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return df

# 2. 전처리 함수
def preprocess_data(df):
    # (1) 인코딩
    encoder = LabelEncoder()
    for col in ['상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명']:
        df[col] = encoder.fit_transform(df[col])

    # (2) IQR 이상치 제거 + 스케일링
    columns_basket = [
        ['당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액'],
        ['월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액'],
        ['시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액'],
        ['남성_매출_금액', '여성_매출_금액'],
        ['연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액']
    ]
    for columns in columns_basket:
      # 컬럼별 이상치 제거
      for col in columns:
        df = remove_outlier(df, col)
      # 컬럼 그룹 스케일링
      scaler = StandardScaler()
      df[columns] = scaler.fit_transform(df[columns])

    return df


# 3. 실행
df = preprocess_data(df)
print(df.head())





print(preprocess_data(df))

    기준_년분기_코드 상권_구분_코드  상권_구분_코드_명    상권_코드  상권_코드_명 서비스_업종_코드  서비스_업종_코드_명  \
19      20241        A           0  3110003      875  CS200031           17
22      20241        A           0  3110004      360  CS200028           11
31      20241        A           0  3110007      690  CS100010           51
51      20241        A           0  3110009     1292  CS300028           61
52      20241        A           0  3110010     1468  CS100001           56

    당월_매출_금액  당월_매출_건수  주중_매출_금액  ...  시간대_건수~21_매출_건수  시간대_건수~24_매출_건수  \
19 -0.976113 -0.656240 -0.906228  ...               35                0
22 -0.860592 -0.566020 -0.817373  ...              328                5
31 -0.980715 -0.622024 -0.924265  ...               28                0
51 -0.866648 -0.586194 -0.812028  ...              252                0
52 -0.787419 -0.493230 -0.702326  ...              246               12

    남성_매출_건수  여성_매출_건수  연령대_10_매출_건수  연령대_20_매출_건수  연령대_30_매출_건수  \
19        23        47             0             0            11
22       428       201             0            22            96
31       124       158             0            56           113
51        90       378             0           108            54
52       512       421             0             8            46

    연령대_40_매출_건수  연령대_50_매출_건수  연령대_60_이상_매출_건수
19            12            24               23
22           132           217              162
31            51            45               17
51           144           108               54
52           223           182              474

[5 rows x 55 columns]
       기준_년분기_코드 상권_구분_코드  상권_구분_코드_명    상권_코드  상권_코드_명 서비스_업종_코드  \
87         20241        A           0  3110018     1116  CS300001
157        20241        A           0  3110029      334  CS100010
186        20241        A           0  3110035      343  CS300004
271        20241        A           0  3110052     1069  CS200032
275        20241        A           0  3110052     1069  CS300021
...          ...      ...         ...      ...      ...       ...
86726      20244        R           3  3130313      476  CS300021
86869      20244        R           3  3130321     1055  CS200005
86969      20244        U           1  3001491     1024  CS300043
87060      20244        U           1  3001493      339  CS300043
87152      20244        U           1  3001495     1044  CS300043

       서비스_업종_코드_명  당월_매출_금액  당월_매출_건수  주중_매출_금액  ...  시간대_건수~21_매출_건수  \
87              19 -1.202588 -0.412551 -1.128622  ...               20
157             51 -1.183878 -0.333422 -1.169260  ...                0
186             58 -1.246853 -0.781820 -1.188331  ...               15
271              4 -1.226960 -0.856553 -1.143313  ...                0
275              9 -1.155908 -0.153183 -1.062785  ...                0
...            ...       ...       ...       ...  ...              ...
86726            9 -0.835512  0.260046 -0.868454  ...               98
86869           20 -1.144852 -0.869742 -1.050255  ...                0
86969           43 -0.768190 -0.693899 -0.623357  ...                5
87060           43 -1.230138 -0.869742 -1.210801  ...                0
87152           43 -1.014302 -0.658731 -1.210801  ...                0

       시간대_건수~24_매출_건수  남성_매출_건수  여성_매출_건수  연령대_10_매출_건수  연령대_20_매출_건수  \
87                   0        57        52             0             6
157                  0        25       102             0             0
186                  0        20         5             0             0
271                  0         8         0             0             0
275                  0         0       168             0             0
...                ...       ...       ...           ...           ...
86726                0        88       174             0            11
86869                0         0         5             0             0
86969                0         0        45             0             0
87060                0         5         0             0             0
87152                0        53         0             0             0

       연령대_30_매출_건수  연령대_40_매출_건수  연령대_50_매출_건수  연령대_60_이상_매출_건수
87                6            72            12               13
157              63             0            64                0
186              10             5            10                0
271               0             0             8                0
275               0            84            84                0
...             ...           ...           ...              ...
86726            22            44            77              108
86869             0             5             0                0
86969            10             0            10               25
87060             0             0             5                0
87152             0            18            35                0

[1295 rows x 55 columns]

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder

# 데이터 불러오기
df = pd.read_csv('서울시 상권분석서비스(추정매출-상권)_2024년.csv')

# 1. 이상치 제거 함수 (단일 컬럼)
def remove_outlier(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return df

# 2. 전처리 함수
def preprocess_data(df):
    # (1) 인코딩
    encoder = LabelEncoder()
    for col in ['상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명']:
        df[col] = encoder.fit_transform(df[col])

    # (2) IQR 이상치 제거 + 스케일링
    columns_basket = [
        ['당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액'],
        ['월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액'],
        ['시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액'],
        ['남성_매출_금액', '여성_매출_금액'],
        ['연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액']
    ]

    for columns in columns_basket:
        # 컬럼별 이상치 제거
        for col in columns:
            df = remove_outlier(df, col)

        # 컬럼 그룹 스케일링
        scaler = StandardScaler()
        df[columns] = scaler.fit_transform(df[columns])

    return df

# 3. 실행
df = preprocess_data(df)
print(df.head())